body {
    font-family: 'Signika Negative', sans-serif;
    font-size: 20px;
    background: url(https://i.pinimg.com/originals/7e/98/dd/7e98ddcf7c2cbc369928435b8c978682.jpg) no-repeat fixed center;
    color:#86afb9;
}

h1, h4{
    font-family:'Noto Sans HK', sans-serif;
    color:#0579a4;
}


